/* Common */
.form-control {
    border-radius: 0;
}
a {
    color: #656565;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a:hover {
    color: #aaa;
    text-decoration: none;
}
/* Gr table */
.gr-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
}
.gr-table-cell {
    display: table-cell;
    vertical-align: top;
}
.gr-table.align-middle .gr-table-cell {
    vertical-align: middle;
}
/* Header */
#header {
    position: absolute;
    z-index: 50;
    display: block;
    top: 0;
    left: 0;
    right: 0;
}
#header .header-top-row {
    width: 100%;
    background-color: rgba(14, 14, 14, 0.9);
    position: relative;
}
#header .container {
    position: relative;
}
#header .top-welcome p {
    line-height: 40px;
    color: rgba(234, 234, 234, 0.5);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 13px;
    text-align: left;
}
#header .top-welcome p i {
    color: #eb2c33;
}
#header .header-logo {
    height: 50px;
    display: block;
    margin: 0 auto;
}
#header #lang,
#header #currency,
#header #account-menu {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    position: relative;
}
#header #lang .lang-title,
#header #currency .currency-title,
#header #account-menu .account-menu-title {
    display: block;
    outline: none;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 100px;
    color: rgba(234, 234, 234, 0.5);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#header #currency .currency-title {
    width: 80px;
}
#header #account-menu .account-menu-title {
    width: 110px;
}
#header #lang .lang-title:hover,
#header #currency .currency-title:hover,
#header #account-menu .account-menu-title:hover {
    background-color: #EB2C33;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
#header #lang .lang-item,
#header #currency .currency-item,
#header #account-menu .account-menu-item {
    display: hidden;
    top: -1000px;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    background-color: rgba(14, 14, 14, 0.9);
    overflow: hidden;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
#header #lang:hover .lang-item,
#header #currency:hover .currency-item,
#header #account-menu:hover .account-menu-item {
    display: block;
    top: 40px;
    left: 0;
    opacity: 1;
}
#header #lang .lang-item a,
#header #currency .currency-item a,
#header #account-menu .account-menu-item a {
    display: block;
    line-height: 38px;
    border-top: 1px solid #2a2a2a;
    text-align: left;
    text-indent: 15px;
    width: 80px;
    color: rgba(234, 234, 234, 0.5);
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#header #lang .lang-item a:hover,
#header #currency .currency-item a:hover,
#header #account-menu .account-menu-item a:hover {
    background-color: #EB2C33;
    color: #fff;
}
#header #lang .lang-item a {
    width: 100px;
}
#header #account-menu .account-menu-item a {
    width: 110px;
    text-indent: 5px;
}
#header #account-menu .account-menu-item a i:before {
    display: inline;
}
#header #socials-block ul li {
    padding: 0;
    margin: 0;
    float: right;
}
#header #socials-block ul li a {
    display: block;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    color: #eb2c33;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#header #socials-block ul li a:hover {
    color: #fff;
    background-color: #eb2c33;
}
#header #socials-block ul li a i {
    margin: 0;
}
#header .header-main {
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    transition: height 0.5s ease;
}
#header .header-main .header-main-block1 {
    background-color: rgba(14, 14, 14, 0.5);
}
#header #container-fixed {
    height: 50px;
    margin: 25px 0;
    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
    -o-transition: margin 0.5s ease;
    -ms-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
}
#header .header-main .top-search-form {
    width: 100%;
}
#header .header-main .top-search-form form {
    margin: 5px 0;
    position: relative;
}
#header .header-main .top-search-form form input {
    border: none;
    height: 40px;
    padding: 0 10px;
    background: none;
    background-color: rgba(14, 14, 14, 0.5);
    outline: 0;
}
#header .header-main .top-search-form form button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: 40px;
    width: 40px;
    background: none;
    color: #eaeaea;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
}
#header .header-mini-cart {
    position: relative;
    height: 40px;
    width: 150px;
    margin: 5px 0 0 5px;
    background: url(../img/cart.png) no-repeat center right rgba(14, 14, 14, 0.5);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#header .header-mini-cart:hover {
    background-color: #EB2C33;
}
#header .header-mini-cart a {
    text-decoration: none;
    display: block;
    height: 100%;
    outline: none;
    padding: 4px 40px 0 13px;
    text-align: left;
    color: #eaeaea;
    line-height: 17px;
}
#header .header-mini-cart a span {
    color: #aaa;
    font-size: 11px;
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#header .header-mini-cart:hover a span {
    color: #fff;
}
#header .top-icons {
    text-align: right;
}
#header .top-icons a {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    text-decoration: none;
    margin: 5px 0 0 5px;
    position: relative;
    background-color: rgba(14, 14, 14, 0.5);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 100%;
    text-align: center;
}
#header .top-icons a:hover {
    background-color: #EB2C33;
}
#header .top-icons a i {
    color: #eaeaea;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
}
#header .top-icons a span {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -2px;
    top: -2px;
    text-align: center;
    font-size: 8px;
    color: #ffffff;
    background-color: #5eb22d;
    line-height: 16px;
    border-radius: 100%;
}
#header .navbar-main {
    background-color: rgba(14, 14, 14, 0.5);
    border: none;
    line-height: 22px;
    min-height: 50px;
    margin: 0;
    border-radius: 0;
}
.navbar-main .navbar-toggle {
    background-color: #0e0e0e;
    border-radius: 0;
}
.navbar-main .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-main .nav > li > a {
    text-transform: uppercase;
    color: #fff;
    border-top: 2px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-main .nav > li.active > a,
.navbar-main .nav > li:hover > a {
    background-color: #EB2C33;
    border-color: #FFF;
}
.navbar-main .navbar-brand {
    color: #fff;
    line-height: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-main .navbar-brand.active,
.navbar-main .navbar-brand:hover {
    color: #EB2C33;
}
.navbar-main .navbar-collapse {
    max-height: none;
}
.navbar-nav > li.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-main .dropdown-sub-menu > ul {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    display: none;
    max-width: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;    
    border: none !important;
    border-radius: 0;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
    box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
}
.navbar-main .dropdown-menu li {
    position: relative;
}
.navbar-main .dropdown-menu .dropdown-sub-menu:hover > ul {
    display: block;
}
.navbar-main .dropdown-menu {
    border: none !important;
    padding: 0;
    border-radius: 0;
    max-width: 200px;
    width: 200px;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
    box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
}
.navbar-main .dropdown-menu li > a {
    padding: 8px 15px;
    position: relative;
    display: block;
    color: #777;
    word-wrap: break-word;
    white-space: normal;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-main .dropdown-menu li > a:hover {
    background-color: #EB2C33;
    color: #fff;
}
.navbar-main .dropdown-sub-menu > a:after {
    content: "\f105";
    color: #777;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 14px;
    padding-left: 15px;
    position: absolute;
    top: 6px;
    right: 10px;
}
.navbar-main .dropdown-sub-menu > a:hover:after {
    color: #FFF;
}
/* Breadcrumb */
.breadcrumb {
    padding: 15px 0;
    background-color: #FFF;
    margin-bottom: 10px;
}
.breadcrumb > li + li:before {
    font-family: "FontAwesome";
    content: "\f105";
    color: #99a0aa;
    padding: 0px 8px;
}
.breadcrumb a:hover {
    color: #EB2C33;
}
/* Entry */
.entry {
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.entry .entry-thumbnail {
	position: relative;
    overflow: hidden;
    max-height: 450px;
}
.entry .entry-thumbnail img {
	position: relative;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.entry .entry-thumbnail:hover img{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
.entry .entry-thumbnail .arrow {
	content: "";
	position: absolute;
	border-right: 10px solid transparent;
    border-bottom: 10px solid #f7f7f7;
    border-top: none;
    border-left: 10px solid transparent;
    left: 50%;
    bottom: 0;
    z-index: 10;
    margin-left: -10px;
}
.entry .entry-date {
    position: relative;
    height: 76px;
    width: 76px;
    background: #374456;
    border: 0 none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    top: -38px;
    left: 50%;
    margin-left: -38px;
}
.entry:hover .entry-date {
	background: #EB2C33;
}
.entry .entry-date .day {
	position: absolute;
    top: 12px;
    left: 12px;
    bottom: auto;
    right: auto;
    text-align: left;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.entry .entry-date .month {
	position: absolute;
    bottom: 12px;
    right: 12px;
    top: auto;
    left: auto;
    text-align: right;
    font-size: 16px;
    line-height: 1;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
}
.entry .entry-date .divider {
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 80%;
    height: 1px;
    background: #fff;
}
.entry .entry-header {
    padding: 0 0 15px;
}
.entry .entry-category a {
    text-transform: uppercase;
    color: #EB2C33;
}
.entry .entry-title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}
.entry .entry-title,
.entry .entry-title a {
	color: #374456;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 28px;
}
.entry .entry-title a:hover {
	color: #EB2C33;
}
.entry .entry-meta span {
	margin-right: 15px;
	color: #999999;
}
.entry .entry-meta span .fa {
	margin-right: 5px;
}
.entry .entry-content {
    margin-bottom: 18px;
}
.entry .entry-readmore {
	font-size: 14px;
    font-weight: bold;
    color: #374456;
    border: 2px solid #374456;
    text-transform: uppercase;
    padding: 8px 30px;
    display: inline-block;
    margin: 0 auto;
     -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.entry .entry-readmore:hover {
	border-color: #EB2C33;
	background-color: #EB2C33;
	color: #FFF;
}
.entry .content-header {
	margin-bottom: 40px;
}
.entry .content-header .entry-date {
	top: 0;
    left: 0;
    margin: 0;
}
.entry .gr-table .gr-table-cell:first-child {
    width: 95px;
}
.entry .content-thumbnail {
	margin-bottom: 30px;
}
.entry .content-main {
    margin-bottom: 25px;
}
.entry .content-author {
    margin: 25px 0;
}
.entry .content-author > .gr-table > .gr-table-cell {
	width: 50%;
}
.entry .content-author > .gr-table > .gr-table-cell:first-child {
	border-right: 1px solid #ddd;
    padding-left: 60px;
    padding-right: 35px;
}
.entry .content-author > .gr-table > .gr-table-cell.last {
	padding-left: 35px;
	padding-right: 60px;
}
.entry .content-author .author-avatar {
	position: relative;
    overflow: hidden;
    display: block;
   	max-width: 95px;
   	max-height: 95px;
}
.entry .content-author .author-avatar img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
}
.entry .content-author .author-title {
	font-size: 24px;
    font-weight: bold;
    color: #374456;
    text-transform: uppercase;
}
.entry .content-author .author-info {
	color: #EB2C33;
}
.entry .content-author .author-social > li {
	display: inline-block;
	margin-right: 30px;
}
.entry .content-author .author-social > li > a {
	font-size: 18px;
    color: #374456;
}
.entry .content-author .author-social > li > a:hover {
	color: #EB2C33;
}
.entry .content-keyword .tag-label {
    font-weight: bold;
    margin-right: 15px;
    color: #999999;
}
/* Widget */
.widget-block {
	margin-bottom: 30px;
}
.widget-block .widget-title {
	margin: 0 0 25px;
	font-size: 22px;
}
.widget-block .widget-title:first-letter {
	color: #EB2C33;
}
.post {
	padding:25px 0;
	border-top: 1px solid #ededed;
}
.post:first-child {
	padding-top: 0;
	border-top: none;
}
.post .post-inner-table {
	display: table;
    table-layout: fixed;
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
}
.post .post-inner-table .post-table-cell {
	display: table-cell;
    vertical-align: top;
}
.post .post-inner-table .post-table-cell:first-child {
	max-width: 60px;
	width: 60px;
}
.post .post-thumbnail {
	position: relative;
	overflow: hidden;
	display: block;
}
.post .post-thumbnail img {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    max-width: none;
}
.post .post-thumbnail img:hover {
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
.post .post-content {
	padding: 0 0 0 20px;
}
.post .post-title {
	color: #374456;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    margin: -6px 0 10px;
    display: inline-block;
    word-break: break-word;
}
.post .post-title:hover {
	color: #EB2C33;
}
.post .post-meta span {
	margin-right: 15px;
	color: #999999;
}
/* Tags */
.tags {
    zoom: 1;
}
.tags:before, .tags:after {
    content: '';
    display: table;
}
.tags:after {
    clear: both;
}
.tags li {
    position: relative;
    float: left;
    margin: 0 12px 8px 0;
}
.tags li:active {
    margin-top: 1px;
    margin-bottom: 7px;
}
.tags a, .tags span {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tags a {
    height: 26px;
    line-height: 23px;
    padding: 0 9px 0 8px;
    font-size: 12px;
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px white;
    background: #fafafa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dadada #d2d2d2 #c5c5c5;
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tags a:hover span {
    padding: 0 7px 0 6px;
    width: auto;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.tags span {
    position: absolute;
    top: 1px;
    left: 100%;
    z-index: 2;
    overflow: hidden;
    width: 0;
    height: 24px;
    line-height: 21px;
    padding: 0 0 0 2px;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #eb6b22;
    border: 1px solid;
    border-color: #d15813 #c85412 #bf5011;
    opacity: .95;
    white-space: nowrap;
    background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
    background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
    background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
    background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transition-property: padding, max-width;
    -moz-transition-property: padding, max-width;
    -o-transition-property: padding, max-width;
    transition-property: padding, max-width;
}
.green li:after {
    background: #65bb34;
    -webkit-box-shadow: inset 1px 0 #3a6b1e;
    box-shadow: inset 1px 0 #3a6b1e;
}
.green span {
    background: #65bb34;
    border-color: #549b2b #4f9329 #4b8b27;
    background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
    background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
    background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
    background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
}
.red li:after {
    background: #EB2C33;
    -webkit-box-shadow: inset 1px 0 #EB2C33;
    box-shadow: inset 1px 0 #EB2C33;
}
.red span {
    background: #EB2C33;
    border-color: #EB2C33 #EB2C33 #EB2C33;
    background-image: -webkit-linear-gradient(top, #EB2C33, #EB2C33);
    background-image: -moz-linear-gradient(top, #EB2C33, #EB2C33);
    background-image: -o-linear-gradient(top, #EB2C33, #EB2C33);
    background-image: linear-gradient(to bottom, #EB2C33, #EB2C33);
}

/* Pagination */
.paging {
	text-align: center;
	margin-bottom: 50px;
}
.paging a,
.paging span{
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #374456;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 5px;
    text-decoration: none;
     -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
.paging a:hover,
.paging span:hover,
.paging .current{
    background-color: #EB2C33 !important;
    color: #fff;
}
/* Footer */
#footer {
    background: url(../img/bg-footer.jpg) center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
#footer .footer-top {
    padding: 60px 0;
    background-color: rgba(255, 255, 255, 0.85);
}
.payment-service {
    position: relative;
    border: 1px solid rgba(14, 14, 14, 0.3);
    padding: 15px 10px;
    margin: 20px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.payment-service:hover {
    background-color: #eb2c33;
}
.payment-service a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}
.payment-service i {
    color: #fff;
    width: 80px;
    height: 80px;
    font-size: 42px;
    line-height: 80px;
    background-color: #eb2c33;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.payment-service:hover i {
    background-color: #fff;
    color: #eb2c33;
}
.payment-service h3 {
    color: #eb2c33;
    margin: 5px 0;
    font-size: 20px;
}
.payment-service p {
    margin: 0;
    color: #aaa;
}
.payment-service:hover h3, 
.payment-service:hover p {
    color: #fff;
}
#footer .social {
    background: rgba(0, 0, 0, 0.95);
    padding: 40px 0 0 0;
}
#footer .socials a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #ccc;
    border: 1px solid #666;
    font-size: 20px;
    margin: 8px 10px 8px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#footer .socials a:hover {
    background-color: #fff;
    color: #eb2c33;
}
#footer .socials a i {
    margin: 0;
}
#footer .social .form-horizontal {
    margin: 8px 0;
    position: relative;
}
#footer .social .form-horizontal input {
    border: 1px solid #666;
    padding: 5px 10px;
    background: none;
    color: #eaeaea;
    height: 40px;
}
#footer .social .form-horizontal button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    background: none;
    border: none;
    color: #eaeaea;
    outline: none;
    padding: 0 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#footer .social .form-horizontal button:hover {
    color: #eb2c33;
}
#footer .footer-nav {
    background: rgba(0, 0, 0, 0.95);
    padding: 40px 0;
    font-size: 13px;
}
.footer-nav .nav-header {
    color: #ccc;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 22px;
}
.footer-nav .list-unstyled li a {
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    line-height: 20px;
}
.footer-nav .list-unstyled li a:hover {
    color: #eaeaea;
}
.footer-nav p {
    color: #aaa;
}
.footer-nav .want {
    position: relative;
}
.footer-nav .want textarea {
    border: 1px solid #666;
    height: 100px;
    padding: 5px 10px;
    background: none;
    color: #eaeaea;
    resize: none;
}
.footer-nav .want button {
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    border: none;
    outline: none;
    color: #eaeaea;
    height: 40px;
    padding: 0 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-nav .want button:hover {
    color: #eb2c33;
}
#footer .footer-bottom {
    background-color: #0e0e0e;
    padding: 15px 0;
}
.footer-bottom p {
    color: #ccc;
    font-size: 11px;
    line-height: 18px;
}
.footer-bottom .copy {
    color: #eb2c33;
}
.footer-bottom a {
    color: #eb2c33;
}
.footer-bottom a:hover {
    text-decoration: underline;
}
.footer-bottom .list-unstyled {
    margin: 0;
}
.footer-bottom .list-unstyled li {
    display: inline-block;
    margin: 0 2px;
}
@media screen and (min-width: 1024px) {
    #header.header-top-fixed {
        position: fixed;
    }
    #header .header-main-fixed {
        height: 100px;
    }
    #header .header-main-fixed .header-main-block1 {
        background-color: #0e0e0e;
    }
    #header .header-main-fixed #container-fixed {
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    #header #container-fixed {
        margin: 5px 0;
    }
    #header .header-logo {
        text-align: center;
    }
    .payment-service h3,
    .payment-service p {
        text-align: center;
    }
    .entry {
    	padding-bottom: 30px;
    	margin-bottom: 30px;
    }
}
@media screen and (max-width: 767px) {
	.navbar-main .navbar-collapse {
        z-index: 999;
        position: relative;
        background-color: #0e0e0e;
        overflow: hidden;
    }
    .navbar-main .dropdown-menu,
    .navbar-main .dropdown-sub-menu > ul{
    	position: static;
    	float: none;
    	width: auto;
    	max-width: 100%;
    	background-color: transparent;
    	box-shadow: none;
    	border: none;
    }
    .navbar-main .dropdown-menu li:hover > a,
    .navbar-main .dropdown-menu li:focus > a {
    	background-color: #fff;
    	color: #EB2C33;
    }
    .navbar-main .dropdown-sub-menu > a:after {
    	content: "\f103";
	    top: 0;
	    right: 0;
	    width: 40px;
	    height: 36px;
	    line-height: 36px;
	    display: block;
	    padding: 0;
	    text-align: center;
    }
    .navbar-main .dropdown-sub-menu:hover > a:after {
    	color: #EB2C33;
    }
    .navbar-main .dropdown-sub-menu > ul > li > a {
    	padding-left: 30px;
    }
    .navbar-main .dropdown > a:after {
    	content: "\f103";
	    top: 0;
	    right: 0;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    display: block;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    font-size: 14px;
	    position: absolute;
	    text-align: center;
    }
}
